<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="日常安排应用.Properties.Settings.ConnectionString" connectionString="Data Source=D:\学习资料\computer\C#开发记录\日常安排应用\日常安排应用\bin\Debug\DB\schedule.db"
            providerName="Devart.Data.SQLite" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>